[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
boto3 = "*"
slack-sdk = "*"
clickhouse-driver = "*"
botocore = "*"

[dev-packages]

[requires]
python_version = "3.10"
